.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #f4bff6;

}
.navbar-nav  li a:hover {
    color: #4e0e50 !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #b074b0;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
    color: #000000;
}

body{
    background-color: #fef3ff;
}

#titlefield{
    background-color: #fef7ff;
    
}

#contentfield{
    background-color: #fef7ff;
}